@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;

}

a,
.green {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 600;
 
}



